In [5]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
CanadaSale=pd.read_csv('Canadasalesdata.csv')
Car_sales=pd.read_csv('Car_sales.csv')
Car_segunda=pd.read_csv('coches-de-segunda-mano-sample.csv')

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Sumofsales,Year
count,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000
mean,257.012712,311.398305,322.682203,313.008475,363.127119,364.881356,331.275424,292.004237,281.559322,286.563559,259.351695,297.919492,3680.783898,2019.961864
std,282.639677,411.088459,393.510027,422.197181,443.998266,444.153484,478.484243,446.868304,425.216361,434.260820,383.008204,488.585102,4380.003782,0.795350
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2019.000000
25%,76.750000,81.500000,71.250000,57.750000,80.750000,81.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,925.750000,2019.000000
50%,152.500000,188.000000,182.500000,163.000000,198.500000,200.000000,151.000000,107.000000,120.000000,116.500000,109.000000,120.000000,2132.000000,2020.000000
75%,331.500000,389.750000,401.750000,342.250000,477.250000,458.250000,400.000000,348.250000,356.500000,355.500000,327.750000,337.750000,4257.250000,2021.000000
max,1639.000000,3165.000000,2568.000000,2510.000000,2701.000000,2497.000000,2514.000000,2722.000000,2384.000000,2958.000000,2559.000000,3200.000000,23185.000000,2021.000000